/* Text Font:
font-family: 'Cambay', sans-serif;
Barcode:
font-family: 'Libre Barcode 39 Extended Text', cursive;
Logo Font:
font-family: 'Vast Shadow', cursive;
Receipt Font:
font-family: 'VT323', monospace; */

body {
  background-color: rgb(199, 199, 199);
  background-image: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1910&q=80");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: bottom;
  font-family: 'Cambay', sans-serif;
}

h1 {
  font-family: 'Vast Shadow', cursive;
  font-size: 8em;
}

h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 4em;
}

button {
  margin-top: 15px;
}

.container {
  margin-top: 45px;
  margin-bottom: 45px;
}

#aboutText {
  margin: auto;
  text-align: center;
  margin-bottom: 45px;
}

#choices {
  margin: auto;
}

#toppingsFields {
  line-height: 0%;
}
#sizesFields {
  line-height: 180%;
}
#receipt {
  display: none;
  margin: auto;
  text-align: center;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 3px dotted white;
  border-bottom: 3px dotted white;
  border-color: rgb(231, 231, 231);
  margin-top: 45px;
}

#itemizedSelections {
  text-align: center;
  line-height: 40%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

