/* Text Font:
font-family: 'Cambay', sans-serif;
Barcode:
font-family: 'Libre Barcode 39 Extended Text', cursive;
Logo Font:
font-family: 'Vast Shadow', cursive;
Receipt Font:
font-family: 'VT323', monospace; */

body {
  font-family: 'Cambay', sans-serif;
}

h1 {
  font-family: 'Vast Shadow', cursive;
  font-size: 8em;
  color: white;
}

h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 4em;
}

button {
  margin-top: 15px;
  margin-bottom: 45px;
}

#orderForm {
  margin-top: 50px;
  padding-bottom: 50px;
}
.orderContainer {
  padding-top: 45px;
  padding-bottom: 45px;
}

#intro {
  background-color: rgb(199, 199, 199);
  background-image: url("https://images.unsplash.com/photo-1579751626657-72bc17010498?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2768&q=80");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  text-align: center;
  height: 35vh;
  height: max-content;
  box-shadow: 0px 1px 15px rgb(109, 109, 109);
  border-radius: 0px;
}


#aboutText {
  margin: auto;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

#choices {
  margin: auto;
}

#toppingsFields {
  line-height: 0%;
}
#sizesFields {
  line-height: 180%;
}

#receiptContainer {
  display: none;
  background-color: rgb(199, 199, 199);
  background-image: url("https://images.unsplash.com/photo-1549859455-746ef4fae03b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2971&q=80");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  width: 100vw;
  margin-bottom: 0rem;
  margin-top: 4rem;
  box-shadow: 0px 1px 15px rgb(109, 109, 109);
  border-radius: 0px;
}

#receipt {
  margin: auto;
  text-align: center;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 3px dotted rgb(48, 35, 23);
  border-bottom: 3px dotted rgb(48, 35, 23);
  box-shadow: 0px 1px 15px rgb(0, 0, 0);
}

#itemizedSelections {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#addPeppRec, #addAnchRec, #addGarRec, #addOnionRec, #addMushRec, #addArtRec {
  display: none;
}

#companyName {
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#pizzaIcon {
  max-width: 45px;
  margin-bottom: 55px;
}

#placeOrderTitle {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

#oops {
  display: none;
}

#clearOrder {
  margin: auto;
}